<ul>
    <li>App name: testApp</li>
    <li>Assets url: /assets/81f7f502</li>
    <li>Theme url: [:THEME_URL]</li>
    <li>Custom placeholder: 2015-01-08 03:00:13</li>
</ul>


<p>Try to click on other pages (Page 1, Page2, ...)</p>

<p>
    <strong>Note:</strong> THEME_URL is populated only if your application is using a theme.
</p>
