
<h3>Page 1</h3>

<p>This asset has been published at 2015-01-06 18:35:06.</p>

<p>Note that "DATETIME" is a custom placeholder defined when calling the widget.</p>

<p>
    <strong>When debug is set to true, the assets are re-published at every page reload.</strong>
    Try to set it to false and see the difference.
</p>