<ul>
    <li>App name: _PH__APP_NAME_</li>
    <li>Assets url: [:APP_ASSETS_URL]</li>
    <li>Theme url: [:THEME_URL]</li>
    <li>Custom placeholder: [:DATETIME]</li>
</ul>


<p>Try to click on other pages (Page 1, Page2, ...)</p>

<p>
    <strong>Note:</strong> THEME_URL is populated only if your application is using a theme.
</p>
